body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    text-align: center;
    background: #f8f8f8;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

.logo {
    height: 80px;
    margin-top: 80px;
}


h1 {
    font-weight: 600;
    font-size: 24px;
    /* margin: 60px 0; */
    margin-top: 24px;
    vertical-align: top;
}


.download-link {
    margin-top: 8px;
    /* background: rgb(0, 0, 0); */
    display: inline-block;
    color: #000;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    text-decoration: none;
    margin: 5px;
}

.screenshot {
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
}
