body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    text-align: center;
    background: #f8f8f8;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

.logo {
    height: 80px;
    margin-top: 80px;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    /* margin: 60px 0; */
    margin-top: 10px;
    vertical-align: top;
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 52px;
    /* margin: 60px 0; */
    margin-top: 20px;
    vertical-align: top;
    /* text-align: left; */
    /* display: inline-block */
}

.download-link {
    margin: 5px;
    margin-top: 12px;
    /* background: rgb(0, 0, 0); */
    display: inline-block;
    color: rgb(0, 85, 212);
    font-size: 20px;
    /* padding: 16px; */
    /* border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4); */
    text-decoration: none;
    /* margin-top: 5px; */
}

.screenshot {
    width: 100%;
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 80px;
}
